
.button1,.nButton,.dButton ,.mOverButton,.pButton
{   width:90px;
    height:21px;
    padding:1px 10px 2px 10px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration:none !important;
    margin:0 1px 0 1px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /*display: block;*/
}

.nButton
 {
    /*color:#000000;*/
    /*background:url(../../images/button1.gif) ;*/
/*border:1px solid #b1d6fc;*/
    cursor:default;
    font-weight:normal;
}


.dButton
{
    /*color: #cbcad3;*/
    /*background-color: #efefef;*/
    /*border: 1px solid;*/
    /*border-color: #cbcad3;*/
    cursor: default;
    font-weight:normal;
}

.mOverButton
{
    /*color:#000000;*/
    /*border: 1px solid #b1d6fc;*/
/*border-right-color: #ffffff;*/
/*border-bottom-color: #ffffff;*/
    /*background:url(../../images/button1.gif) ;*/
    cursor:pointer;
    font-weight:normal;
}

.pButton
{
    /*color:#000000;*/
    /*border:1px solid #b1d6fc;*/
    /*background:url(../../images/button1_hover.png) ;*/
    cursor:pointer;
    font-weight:normal;
}

